.right-side {
  text-align: center;
  width: 75%;
  background-color: #E3EDFE;
}

.to-flex {
  display: flex;
}

.title {
  border-bottom: 2px solid grey;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
