@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');

.right-side {
  text-align: center;
  width: 75%;
  background-color: #E3EDFE;
}

.to-flex {
  display: flex;
}

.main-title {
  border-bottom: 2px solid grey;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 4em;
  margin-top: 0;
}

.loading-screen {
  text-align: center;
  margin-top: 300px;
}
