@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');

.right-side {
  text-align: center;
  width: 75%;
  background-color: #E3EDFE;
}

.to-flex {
  display: flex;
}

.main-title {
  border-bottom: 2px solid grey;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 4em;
  margin-top: 0;
}

.loading-screen {
  text-align: center;
  margin-top: 300px;
}

.fav-button {
  border: 2px solid black;
  padding: 10px;
  margin-top: 15px;
  border-radius: 30px 30px 30px 30px;
  text-decoration: none;
  font-family: 'Pathway Gothic One', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1em;
  color: black;
}

.fav-button:hover {
  box-shadow: 0px 0px 10px 10px green; 
}

.active {
  color: #E6C85D;
}
