@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');

.summary-container {
  width: 25%;
  background-image: url('../../images/space.jpg');
  background-size: cover;
  overflow: hidden;
}

.summary {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 200%;
  font-weight: 600;
  line-height: 200%;
  perspective: 400px;
  letter-spacing: 4px;
  text-align: center;
}

.movement {
  position: relative;
  transform-origin: 50% 100%;
  animation: crawl 150s linear infinite;
}

.crawl .title {
  font-size: 90%;
  text-align: center;
}

.crawl .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
	0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
	100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

