.active {
  background-color: red;
}

.nav-button {
  width: 100px;
  height: 30px;
  font-size: 1em;
  margin: 20px;
  border-radius: 30px 30px 30px 30px;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}

.nav-button:hover {
  background-color: black;
  color: #FADA65;
}

