@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');

.nav-link {
  margin: 20px;
  border: 2px solid black;
  border-radius: 30px 30px 30px 30px;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-family: 'Pathway Gothic One', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1em;
}

.nav-link:hover {
  box-shadow: 0px 0px 10px 10px green;
}

.nav-div {
  margin-bottom: 35px;
}

.active {
  background-color: black;
  color: #E6C85D;
}